#root {
  margin: 0 auto;
}
.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 1)
    ),
    url("https://res.cloudinary.com/rawwshak/image/upload/v1724101592/338_n3lovd.jpg");
  height: 100vh;
  width: 100%;
}
.nav {
  display: flex;
  gap: 20px;
  padding: 3rem;
  justify-content: flex-end;
}
.span-button {
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  padding: 1rem;
}
.span-button:hover {
  text-decoration: underline;
  color: #ffffff;
}

.hero-content {
  z-index: 3;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  padding: 3rem;
}
.tittles-hero {
  text-align: left;
  margin-bottom: -160px;
}
.sub-tittle {
  color: #ffffff;
  border: solid 2px #ffffff;
  padding: 1rem;
  border-radius: 20px;
}
.tittle-hero {
  margin-top: 30px;
  color: #ffffff;
  font-size: 250px;
  line-height: 0.8;
  margin-bottom: 90px;
}
.two-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  .button-calendar {
    background-color: transparent;
    border: solid 1px #ffffff;
    color: #ffffff;
    border-radius: 20px;
    padding: 1rem;
    cursor: pointer;
    gap: 10px;

    .icon-calendar {
      margin-left: 10px;
    }
  }
  .button-calendar:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.date {
  color: #ffffff;
  font-size: 50px;
  font-weight: lighter;
}

.day-wedding {
  font-size: 100px;
  margin-bottom: 15px;
  color: #ffffff;
}
.map-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1)
  ); /* Color de fondo */
  padding-top: 20px;
  padding-bottom: 20px;
}

.map-iframe {
  border: none;
  width: 96%;
  height: 70vh;
  box-shadow: 2.5px 2.5px 2.5px 2.5px rgba(255, 255, 255, 0.3);
  border-radius: 20px;
}
.button-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 98%;
}

.route-button {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 98%;
  cursor: pointer;
  gap: 10px;
}

.route-button:hover {
  background-color: #0056b3;
  background-color: rgba(255, 255, 255, 0.3);
}
.container-info {
  background-color: black;
}
.row-biblical-quotation {
  padding-top: 20px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  display: flex;
  justify-content: center;

  .biblical-quotation {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .biblical-text {
    font-style: italic;
    font-size: 50px;
    font-style: italic;
    font-weight: lighter;
  }
}

.bride-groom-info {
  background-color: #000;
  padding: 10px;
  padding: 30px;

  .image-bride-groom {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0px 50px 0px 50px;
  }
  .groom-history {
    margin-top: 20px;

    .tittle-history {
      color: #ffffff;
      text-align: center;
      font-weight: 200;
      font-style: italic;
      font-size: 25px;
    }
    .text-groom {
      margin-top: 30px;
      font-size: 20px;
      color: #ffffff;
      font-weight: lighter;
    }
    .button-whatsapp {
      background-color: transparent;
      border: solid 1px #ffffff;
      color: #ffffff;
      border-radius: 20px;
      padding: 1rem;
      cursor: pointer;
    }
    .button-whatsapp:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  .bride-history {
    text-align: right;
    margin-bottom: 20px;

    margin-top: 30px;
    .tittle-history {
      color: #ffffff;
      text-align: center;
      font-weight: 200;
      font-style: italic;
      font-size: 25px;
    }
    .text-groom {
      margin-top: 30px;
      font-size: 20px;
      color: #ffffff;
      font-weight: lighter;
    }
    .button-whatsapp {
      background-color: transparent;
      border: solid 1px #ffffff;
      color: #ffffff;
      border-radius: 20px;
      padding: 1rem;
      cursor: pointer;
    }
    .button-whatsapp:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}
.footer-container {
  height: 70px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 1)
  );
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  .anchor{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color:#ac50d1;
    font-weight: bold;
  }
  .icon-github{
    color: #ac50d1;
  }
}

@media (max-width: 1080px) {
  .tittle-hero {
    font-size: 200px; /* Reduce el tamaño del título en pantallas pequeñas */
  }
  .date {
    font-size: 40px;
  }
  .day-wedding {
    font-size: 90px;
  }
  .tittles-hero {
    margin-bottom: -500px;
  }
}
@media (max-width: 768px) {
  .tittle-hero {
    font-size: 180px; /* Reduce el tamaño del título en pantallas pequeñas */
  }
  .date {
    font-size: 40px;
  }
  .day-wedding {
    font-size: 80px;
  }
}
@media (max-width: 720px) {
  .tittle-hero {
    font-size: 150px; /* Reduce el tamaño del título en pantallas pequeñas */
  }
  .date {
    font-size: 30px;
  }
  .day-wedding {
    font-size: 70px;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .tittle-hero {
    font-size: 100px; /* Reduce el tamaño del título en pantallas pequeñas */
  }
  .date {
    font-size: 35px;
  }
  .day-wedding {
    font-size: 60px;
    margin-bottom: 23px;
  }
}
@media (max-width: 380px) {
  .tittle-hero {
    font-size: 70px; /* Reduce el tamaño del título en pantallas pequeñas */
  }
  .date {
    font-size: 30px;
  }
  .day-wedding {
    font-size: 50px;
    margin-bottom: 19px;
  }
}
